html{
    font-family: 'Teko', sans-serif;
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
}

header{
    background-color: black;
    max-height: 18vh;
    color: white;
    top: 0px;
    position: sticky;
}

#Logo{
    margin-top: -3vh;
    width: 25vh;
    height: 25vh;
    margin-left: 3vh;
}

header nav{
    float: right;
}

nav ul li{
    font-size: 5vh;
    margin: 3.5vh 4vh;
    display: inline-block;
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    transition: ease-out 0.3s;
    color: white;
}

nav ul li a:hover{
    padding-left: 1vh;
    border-left: solid 0.5vh #2271B3;
    color: #2271B3;
}

#fondoAutos{
    height: 75vh;
    background: url(img/FotoConcesionario.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

#fondoAutos h2{
    width: 140vh;
    border-left: solid 3vh #2271B3;
    padding-left: 2vh;
    margin: 0;
    margin-left: 2vh;
    font-size: 6vh;
    color: white;
    background-color: rgba(0,0,0, 0.5);
}

#botonCatalogo{
    border: 0.2vh white solid;
    border-radius: 5vh;
    padding: 2vh;
    margin-left: 5vh;
    text-align: center;
    width: 40vh;
    font-size: 5vh;
    color: white;
    background-color: #2271B3;
    transition: ease 0.5s;
}

#botonCatalogo:hover{
    cursor: pointer;
    border-radius: 3vh;
    background-color: rgb(64, 133, 199);
    box-shadow: 0vh 0vh 2vh white;
}

.titulos{
    text-decoration: underline;
    margin: 0;
    text-align: center;
    color: white;
    font-size: 8vh;
    padding: 4vh 0;
    width: 100%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(34, 113, 179, 1), rgba(0, 0, 0, 0));
}

.articuloAutos{
    text-align: center;
    width: 100%;
    font-size: 3vh;
}

.imagenesNaveg{
    padding-top: 0.5vh;
    border-radius: 3.5vh;
}

.imagenesNaveg:hover{
    cursor: pointer;
}

.botonEspecial{
    padding: 0.7vh 1.2vh;
    margin-top: 4vh;
    background-image: linear-gradient(to right, black, rgba(34, 113, 179, 1));
    border-radius: 4vh;
    border: hidden;
    transition: ease 0.4s;
    animation: animacionSlide linear infinite 1s;
}
.botonEspecial:hover{
    transform: scale(1.025);
}

@keyframes animacionSlide{
        from {background-image: linear-gradient(to right, black, rgba(34, 113, 179, 1));}
        to {background-image: linear-gradient(to right, rgba(34, 113, 179, 1), black);}
}

#GrupoRadio{
    display: flex;
    justify-content: center;
    margin-bottom: 3vh;
}

#novChev, #novBMW, #novAudi, #novPorsche {
    display: none;
}

.custom-boton{
    width: 2vh;
    height: 2vh;
    border: 0.5vh solid #2271B3;
    border-radius: 50%;
    margin-left: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-boton .checkmark{
    width: calc(100% - 4px);
    height: calc(100% - 3.5px);
    background-color: black;
    border-radius: 50%;
    opacity: 0;
    display: none;
}

.custom-boton input {
    display: none;
}

.custom-boton input:checked + .checkmark{
    opacity: 1;
    display: inline-block;
}

#logosCenter{
    margin-top: 5vh;
    margin-bottom: 4vh;
    text-align: center;
}

#tituloDePresentacionLogos{
    text-align: center;
    font-size: 6vh;
}

.logos{
    border: 1vh solid #2271B3;
    border-radius: 50%;
    background-image: linear-gradient(90deg, black, white);
    transition: 0.5s ease;
}

.logos:hover{
    cursor: pointer;
    border-radius: 25%;
}

.botonIMG{
    margin-left: 10vh;
    border: hidden;
    background: white;
    border-radius: 30vh;
}

#porqueConfiar{
    padding: 9vh 0vh;
    background: url(img/concesionaria.png) no-repeat center center fixed;
    text-align: center;
}

#porqueConfiar p{
    margin: 0vh 5vh;
    color: white;
    background-color: rgba(0,0,0, 0.5);
    font-size: 6vh;
    border-left: solid 3vh #2271B3;
}

footer{
    font-size: 5vh;
    background-color: black;
}

footer p{
    color: white;
    margin-left: 5vh;
    float: left;
}


footer a{
    color: white;
    float: right;
    margin-right: 5vh;
    margin-top: 4.7vh;
    text-decoration: none;
    transition: ease-out 0.4s;
}

footer a:hover{
    color: #2271B3;
}